{{import_globals}}
<button
  class="pagelevelprogress__item-btn drawer__item-btn{{#any _isLocked (none _isVisible)}} is-disabled{{/any}} js-indicator js-pagelevelprogress-item-click"
  data-pagelevelprogress-id="{{_id}}"
  aria-label="{{#any _isLocked (none _isVisible)}}{{_globals._accessibility._ariaLabels.locked}}.{{/any}}{{#if _isOptional}} {{_globals._extensions._pageLevelProgress.optionalContent}}.{{else}}{{#if _isComplete}} {{_globals._accessibility._ariaLabels.complete}}.{{else}} {{_globals._accessibility._ariaLabels.incomplete}}.{{/if}}{{/if}} {{{compile_a11y_normalize title}}}">

  <span class="pagelevelprogress__item-title drawer__item-title">
    <span class="pagelevelprogress__item-title-inner drawer__item-title-inner">
      {{{compile title}}}
    </span>
  </span>

  {{#if _isOptional}}
  <span class="pagelevelprogress__item-optional">
    <span class="pagelevelprogress__item-optional-inner">
      {{_globals._extensions._pageLevelProgress.optionalContent}}
    </span>
  </span>
  {{/if}}

</button>
