<div class="page-level-progress-inner" role="region" aria-label="{{_globals._accessibility._ariaLabels.pageLevelProgress}}" {{#if _globals._accessibility._ariaLabels.pageLevelProgress}}tabindex="0"{{/if}}>
    {{#each components}}
    <div class="page-level-progress-item drawer-item">
        {{#if _isVisible}}
        <a class="page-level-progress-item-title clearfix drawer-item-open" tabindex="0" role="button" href="#" data-page-level-progress-id="{{_id}}">
        {{else}}
        <div class="page-level-progress-item-title drawer-item-open disabled clearfix">
        {{/if}}
            <div class="page-level-progress-item-title-inner accessible-text-block h5" role="heading" aria-level="5" tabindex="0">
            {{{title}}}
            </div>
            <div class="page-level-progress-indicator page-level-progress-indicator-{{#if _isComplete}}complete{{else}}incomplete{{/if}}" role="region" aria-label="{{#if _isComplete}}{{_globals._accessibility._ariaLabels.complete}}{{else}}{{_globals._accessibility._ariaLabels.incomplete}}{{/if}}" tabindex="0">
                <div class="page-level-progress-indicator-bar">
                </div>
            </div>
        {{#if _isVisible}}
        </a>
        {{else}}
        </div>
        {{/if}}
    </div>
    {{/each}}
</div>www